{{ if and (eq .chezmoi.os "windows") (not .headless) -}}
scoop bucket add extras
scoop bucket add nerd-fonts
scoop bucket add versions

{{ $scoop_apps := list
    "main/oh-my-posh"
    "main/pwsh"
    "main/neovim"
    "extras/mobaxterm"
    "extras/autohotkey"
    "extras/scoop-completion"
    "extras/obisidan"
    "nerd-fonts/FiraCode-NF" -}}

{{ range $scoop_apps -}}
scoop install {{ . }}
{{ end -}}

{{ $winget_apps := list
    "Microsoft.Powertoys"
    "Microsoft.VisualStudioCode"
    "Bitwarden.Bitwarden" -}}

{{ range $winget_apps -}}
winget install {{ . }} --Scope User
{{ end -}}

{{ if or (eq .chezmoi. )}}


{{ end -}}