{{- $userDir := .chezmoi.homeDir }}
{
    "workbench.colorTheme": "Catppuccin Macchiato",
    "[dart]": {
        "editor.formatOnSave": true,
        "editor.formatOnType": true,
        "editor.rulers": [
            80
        ],
        "editor.selectionHighlight": false,
        "editor.suggest.snippetsPreventQuickSuggestions": false,
        "editor.suggestSelection": "first",
        "editor.tabCompletion": "onlySnippets",
        "editor.wordBasedSuggestions": "off"
    },
    "dart.openDevTools": "flutter",
    "git.confirmSync": false,
    "git.autofetch": true,
    "wakatime.apiKey": {{ bitwarden "password" "WakatimeApiKey" }},
    "git.enableSmartCommit": true,
    "dev.containers.executeInWSL": true,
    "workbench.iconTheme": "icons-kamekazi-dark",
    "editor.fontFamily": "'FiraCode Nerd Font'",
    "docker.enableDockerComposeLanguageService": false,
    "workbench.startupEditor": "none",
    "settingsSync.ignoredSettings": [
        "-docker.dockerPath"
    ],
    "workbench.editor.closeOnFileDelete": true,
    "remote.SSH.remotePlatform": {
        "192.168.40.50": "linux",
        "dev-env": "linux"
    },
    "remote.SSH.configFile": {{joinPath .chezmoi.homeDir "/.ssh/config"}},
    "settingsSync.ignoredExtensions": [
        "ms-vscode.cpptools-themes"
    ],
    "powershell.promptToUpdatePowerShell": false,
    "catppuccin.colorOverrides": {},
    "terminal.integrated.fontFamily": "'FiraCode Nerd Font'",
    "workbench.productIconTheme": "icons-kamekazi-dark",
    "chat.commandCenter.enabled": false
}