{
    "workbench.colorTheme": "Catppuccin Macchiato",
    "[dart]": {
        "editor.formatOnSave": true,
        "editor.formatOnType": true,
        "editor.rulers": [
            80
        ],
        "editor.selectionHighlight": false,
        "editor.suggest.snippetsPreventQuickSuggestions": false,
        "editor.suggestSelection": "first",
        "editor.tabCompletion": "onlySnippets",
        "editor.wordBasedSuggestions": "off"
    },
    "dart.openDevTools": "flutter",
    "git.confirmSync": false,
    "git.autofetch": true,
    "wakatime.apiKey": {{ (bitwarden "item" "WakaTime API Key").login.password }},
    "git.enableSmartCommit": true,
    "dev.containers.executeInWSL": true,
    "workbench.iconTheme": "catppuccin-macchiato",
    "workbench.productIconTheme": "icons-kamekazi-dark",
    "editor.fontFamily": "'Fira Code Retina', Consolas, 'Courier New', monospace",
    "docker.enableDockerComposeLanguageService": false,
    "workbench.startupEditor": "none",
    "settingsSync.ignoredSettings": [
        "-docker.dockerPath"
    ],
    "workbench.editor.closeOnFileDelete": true,
    "remote.SSH.remotePlatform": {
        "192.168.40.50": "linux",
        "dev-env": "linux"
    },
    "remote.SSH.configFile": "C:\\Users\\thats\\.ssh\\config",
    "settingsSync.ignoredExtensions": [
        "ms-vscode.cpptools-themes"
    ],
    "powershell.promptToUpdatePowerShell": false
}